<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Artisan Profile</title>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a  style="color:royalblue;" class="navbar-brand" href="http://127.0.0.1:8000/store/">E-com for Artisans</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
         
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/store/aboutourwebsite">About our Website</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/store/aboutus"></i>About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/store/artisans">Artisans Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/store/artisanslogin">Artisans Login</a>
          </li>
         
          {% if request.session.customer_id %}
          <li class="nav-item">
            <a class="nav-link active" style="color: red;" aria-current="page" href="http://127.0.0.1:8000/store/profile">  {{request.session.email}}</a>
          </li>
          {%  else %}
          <div>
  
          </div>
          {% endif %}
  
  
          
          
            
          
          
        </ul>
        
    
        <ul class="navbar-nav my-2 my-lg-0">
          {% if request.session.customer_id %}
      
           
          
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/store/cart">Cart 🛒</a>
  
          
             
            </li>
           
              <li class="nav-item">
              
                <a class="nav-link active" aria-current="page" href="/store/artisans_orders">Orders</a>
                
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/store/artisans_logout">Logout</a>
                  </li>
           {% else %}
          
  
           <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/store/cart">Cart 🛒</a>
           
           
          </li>
           <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/store/signup">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/store/customerlogin">Customer Login</a>
            </li>
          {% endif %}
        </ul>
       
      </div>
    </div>
          
        </form>
      </div>
    </div>
  </nav>

<!--Volunteer -->

    <div class="container">
        <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="account-settings">
                    <div class="user-profile">
                        <div class="user-avatar">
                            <img style="height: 250px; width: 250px;" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                        </div>
                        <h5 class="user-name">{{request.session.name}}</h5>
                        <h6 class="user-email">{{request.session.email}}</h6>
                    </div>
                    <div class="about">
                        
                        <h5> Joined As Artisan </h5>
                      
                       
                    </div>
                    <div>
                        <div class="m-3 p-3 ">
                            <a   href="http://127.0.0.1:8000/store/artisans_orders"   
                            class="btn btn-outline-info border rounded  " >
                            Orders Received
                              </a>
                              </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6 class="mb-2 text-primary">Personal Details</h6>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="first_name">Name</label>
                            <input type="text" class="form-control" value="{{request.session.name}}">
                        </div>
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" value="{{request.session.contact}}">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="last_name">Age</label>
                            <input type="text" class="form-control" value="{{request.session.age}}">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control"   value="{{request.session.email}} ">
                        </div>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6 class="mt-3 mb-2 text-primary">Address</h6>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" value="{{request.session.address}}">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" value="{{request.session.city}}">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="state">State</label>
                            <input  class="form-control" value="{{request.session.state}}">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="pincode1"> PinCode</label>
                            <input type="text" class="form-control" value="{{request.session.pincode}}">
                        </div>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="m-3 p-3 ">
                            <a   href="http://127.0.0.1:8000/store/artisans_logout"   
                            class="btn btn-outline-info border rounded col-lg-3 float-right " >
                               LOGOUT
                              </a>
                              </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        <footer class="page-footer font-small blue pt-4">
            <div style="background-color:gold;">
            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">
          
              <!-- Grid row -->
              <div class="row">
          
                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">
          
                  <!-- Content -->
                  <h5 style="color: red;" class="text-uppercase">AblE-COMMERCE</h5>
                  <p style="color: hotpink;">Know more about us</p>
          
                </div>
                <!-- Grid column -->
          
                <hr class="clearfix w-100 d-md-none pb-3">
          
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
          
                  <!-- Links -->
                  <h5  style="color: blue;" class="text-uppercase">Quick Links</h5>
          
                  <ul style="color: red;"  class="list-unstyled">
                    <li>
                      <a style="color: red;"  href="http://127.0.0.1:8000/store/prod_auth">Products Authentication </a>
                    </li>
                    <li>
                      <a href="#!">Terms and Conditions</a>
                    </li>
                   
                  </ul>
                  
          
                </div>
                <!-- Grid column -->
          
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
          
                  <h6 class="text-uppercase font-weight-bold">Contact</h6>
                  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p>
                    <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                  <p>
                    <i class="fas fa-envelope mr-3"></i> info@example.com</p>
                  <p>
                    <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                  <p>
                    <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          
                </div>
          
                </div>
                <!-- Grid column -->
          
              </div>
              <!-- Grid row -->
          
            </div>
            <!-- Footer Links -->
          
          </div>
          
          </footer>
</body>
</html>